body.node-type-page {

    article.node-page {

        /*.field-name-body {
            a, a:visited {
                border-bottom: 7px solid $green; 

                &:hover {
                    border-bottom: 7px solid $pink;
                }
            }

        }*/


        .section-skipper {
 
            background-color: #eee;
            padding: 0.5em;
            padding-left: 1em;
            padding-right: 1em;
            display: inline-block;
            margin-bottom: 1em;

            label {
                display: inline-block;
                margin-right: 2em;
                font-weight: normal;
            }

            select {
                border: 1px solid $teal;
                padding: 0.5em;
            }            

        }

        h3 {
            margin-top: 2em; 
            margin-bottom: 0.5em;
            font-weight: 500;
            font-size: 1.2em;


            &:first-of-type() {
                margin-top: 0px;
            }
        }


    }

} 