body.node-type-event {

    .field-name-body {
        max-width: 900px;
    }

    .field-name-field-date .field-item {
        @include box-before-no-hover($pink);
    }

    .field-name-field-location .field-item {
        @include box-before-no-hover($teal);
    }
    

    .field-name-field-related-items {

        text-align: center;

        &:before {
            content: ""; 
            width: 10em;
            border-top: 10px solid $pink;
            display: inline-block;
            margin-bottom: 3em;
        }

        margin-top: 2em;
        padding-top: 2em;
        

        > .field-items {
            > .field-item {
                display: inline-block;
                margin-right: 2em;
                margin-left: 2em;
                width: 40%;
                vertical-align: top;
                font-size: 0.9em;
                max-width: 20em;
                text-align: left;
                .field-name-body {
                    text-align: left;
                }
            }                    
        }
    }    

}

body.node-type-event-sub-page, body.node-type-event-complex- {
    #breadcrumb {
        display: none;
    }

    #page-title {
        display: none;
    }
}



body.node-type-event-complex-, .field-name-field-parent-event {



    .img-bg {

        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        > .event-overlay {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            padding-top: 9vh;
        }
    }

    .field-name-field-logos {
        text-align: center;
        padding-bottom: 1em;

        img {
            height: 60px;
            width: auto;
        }
    }

    .field-name-field-top-image {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: 1;


        img {
            width: 100%;
            height: auto;
        }
    }






    .event-overlay {
        position: relative;
        z-index: 10;
        margin-top: -20.3em;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 20em;

        

        a,a:visited {
            color: white;
        }

        h2.event-title {
            position: relative;
            color: white;
            text-align: center;
            margin-bottom: 0.2em;
            font-size: 2.4em;
            max-width: 25em;
            margin: 0 auto;
            margin-bottom: 1em;
        }    

        .event-details {
            display: flex;
            justify-content: center;
            font-size: 1.4em;
            font-weight: bold;

            .field-item {
                margin-left: 1em;
                margin-right: 1em;
                text-align: center;
            }


        }

        .field-name-field-register-link {
            text-align: center;
            padding-top: 2em;
            a, a:visited {
                background-color: $green; 
                padding: 0.5em 1em;
                color: black;
                font-weight: bold;

                &:hover {
                    background-color: darken($green, 10%);
                }
            }
        }

        .field-name-field-sub-pages {

            margin-top: 9vh;            
            width: 100%;
            position: relative;

            .field-items {
                background-color: rgba($teal, 0.6);                
                display: flex;
                justify-content: space-evenly;

                .field-item {                                    

                    a,a:visited {
                        padding: 1em;
                        border-top: 5px solid white;
                        
                        display: inline-block;

                        &:hover {
                            background-color: rgba(white, 0.3);
                        }
    
                    }

                    &.active {
                        a, a:visited {
                            border-top: 5px solid $green;
                        }
                        
                    }


                }
                
            }
        }
        

    }

    .field-name-field-sections-paras {

        > .field-items {
            > .field-item {
                &:first-child {
                    box-sizing: border-box;
                    padding: 2em 6em;
                    background-color: $teal;
                    position: relative;
                    z-index: 11;
                    color: white;
                    margin-right: 20px;
                    margin-left: 20px;
                }

                &:nth-child(2) {
                    margin-top: -10px;
                    position: relative;
                    z-index: 12;
                }
            }            
        }

        .paragraphs-item-body-text {
            .field-name-field-link {
                font-size: 1.3em;
                text-align: right;
                a,a:visited {
                    color: white;
                    @include box-before($yellow);
                }
            }    
        }


        .paragraphs-item-highlights, .paragraphs-item-speakers {

            > .content {

                > .field-name-field-title {
                    font-size: 1.6em;
                    border-bottom: 10px solid $yellow;
                    display: inline-block;
                    padding-bottom: 6px;
                    padding-right: 3em;
                }

                > .field-name-field-link {                                  
                    text-align: right;

                    font-size: 1.4em;

                    a,a:visited {
                        color: black;
                        font-weight: bold;
                        @include box-before($pink);
                    }
                }

            }

            .paragraphs-items-field-highlights {

                margin-top: -140px;

                > .field-name-field-highlights {
                    > .field-items {
                        > .field-item {
    
                        }
                    }
    
                }

                .paragraphs-item-highlight {
                    
                    width: 100%;            
                    margin-bottom: 1em;                    

                    > .content {
                        padding-left: 320px;
                        position: relative;
                        min-height: 300px;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
    
                        .field-name-field-image {
                            width: 300px;
    
                            position: absolute;
                            top: 0px;
                            left: 0px;
    
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .field-name-field-text {
                            margin-top: 1em;
                            font-weight: bold;                            

                            > .field-items {
                                > .field-item {
                                    @include box-before-no-hover($yellow);
                                }
                            }
                        }
                    }
                }                

            }



        }


        .paragraphs-item-highlights {



            > .content {
                > .field-name-field-title {
                    padding-top: 40px;
                    margin-left: 320px;
                }
            }
        }

        .paragraphs-item-speakers {

            background-color: transparent;
            padding: 1em;
            position: relative;

            > .content {
                > .field-name-field-title {
                    border-bottom: 10px solid $green;
                }

                .field-name-field-link {                                  
                    
                    margin-top: 1.5em;
                    margin-bottom: 1em;
                    margin-right: 1em;
                    
                    a,a:visited {
                        color: white;
                        @include box-before($green);
                    }
        
                }                  
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                right: 0px;
                height: 80%; 
                width: 200%;
                background-color: $dark_grey;
                z-index: -1;
            }

            .field-name-field-speakers {

                margin-left: 1em;
                margin-right: 1em;

                > .field-items {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    column-gap: 30px;
                    row-gap: 1em;
                    color: white;
                    text-align: justify;

                    > .field-item {
                        display: inline-block;
                        text-align: left;
                        max-width: 274px;
                        vertical-align: top;                 
                    }

                    .paragraphs-item-speaker {
                        .field-name-field-headshot {
                            width: 100%;
                            .field-item {
                                width: 100%;
                            }
                            img {
                                width: 100%;
                                height: auto;
                                min-width: 260px;
                            }
                        }

                        h2 {
                            font-size: 1em;
                        }

                        .field-name-field-biog {
                            display: none;
                        }
                    }
                }

             
            }

        }

         


    }


}

body.node-type-event-sub-page {

    #eventzilla-iframe {
        
        position: relative;
        

        &:after {
            content: "loading booking form";
            font-size: 3em;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);     
        }
    }

    .paragraphs-items-field-sections-sub-page {
        background-color: white;


        .field-name-field-sections-sub-page {

            > .field-items {
                > .field-item {
    
                    &:nth-child(1) {
                    }
                    &.odd {
                        .paragraphs-item-agenda {
                            .field-name-field-title-text {
                                h3 {
                                    border-bottom: 10px solid $green;                        
                                }
                            }


                            table {
                                
                                tr {
                
                                    td {
                
                                        &:first-child {
                
                                            p {
                                                @include box-before-no-hover($green);
                                            }

                                        }

                                    }

                                }
                            }


                        }
            
                    }
                    &:nth-child(3) {
            
                    }
                    &:nth-child(4) {
            
                    }                
    
                }
            }
        }


        .paragraphs-item-speakers {
            > .content {
                > h2 {
                    border-bottom: 10px solid $yellow;
                    padding-bottom: 10px;
                    margin-top: 3em;
                    margin-bottom: 3em;
                    display: inline-block;
                }
            }
        }

        .field-name-field-speakers {
            
            a[data-readmore-toggle] {
                margin-top: 1em;
                margin-bottom: 1em;
                color: black;
                @include box-before($green);
            }

            > .field-items {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 30px;
                row-gap: 1em;                
                text-align: justify;

                > .field-item {
                    display: inline-block;
                    text-align: left;
                    max-width: 274px;
                    vertical-align: top;                 
                }                

                .paragraphs-item-speaker {
                    .field-name-field-headshot {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    h2 {
                        font-size: 1em;
                    }

                    .field-name-field-biog {
                        
                    }
                }
            }

         
        }


        .paragraphs-item-agenda {
            width: 100%;
            padding-top: 1em;


            .field-name-field-title-text {
                text-align: center;

                h3 {
                    display: inline-block;
                    border-bottom: 10px solid $pink;
                    padding-bottom: 10px;
                }

                font-weight: bold;
                p {
                    margin: 0px;
                    font-size: 1.1em;
                    margin-bottom: 2em;
                }
            }

            table {
                width: 100% !important;

                border: 0px;

                tbody {
                    border: 0px;
                }

                tr {
                    border: 0px;

                    td {
                        border: 0px;
                        vertical-align: top;

                        &:first-child {
                            min-width: 10em;
                            text-align: left;
                            padding-right: 1em;
                            font-weight: bold;

                            p {
                                @include box-before-no-hover($pink);
                            }


                        }

                        p {
                            margin: 0px;
                        }

                        padding-bottom: 1em;
                    }
                    th {

                    }
                }
            }
        }
    }
}

.field-name-field-parent-event { 

    .img-bg {
        > .event-overlay {
            padding-top: 3vh;
        }
    
    }

    .field-name-field-sub-pages {

        margin-top: 5vh;            

    }
}

