body.front {

    h1.title {
        display: none;
    } 

    h2 {
        font-weight: normal;
        margin-top: 2.5em;
        display: inline-block;
        margin-bottom: 1.5em;

        border-bottom: 10px solid $teal;
    }

    article.node-home-page {

        

        position: relative;

        .field-name-field-strapline {
            font-size: 2.5em; 

            line-height: 1.3em;

            strong {
                font-weight: inherit;
                border-bottom: 10px solid $teal;
            } 

            width: 50%;
        }

        > .content > .field-name-body {

            width: 45%;

            font-size: 1.3em;
            line-height: 1.3em;
        }

        .field-name-field-main-image {

            position: absolute; 
            top: 0px;
            right: 0px;

        }

        .field-name-field-video {

            position: absolute;
            top: 0px;
            right: 0px;
            width: 45%;

        }

        .field-name-field-link {

            font-weight: 500;
            font-size: 1.1em;
            
            a {
                //@include link-underline();                
                @include box-before($green);
            }


        }

        .field-name-field-teasers {
            clear: both;
            margin-top: 8em;
            margin-bottom: 2em;

            > .field-items {

                display: flex;
                justify-content: space-between;

                > .field-item { 
                    width: 20%;
                    display: inline-block;

                    text-align: left;
                    vertical-align: top;

                    padding-right: 2em;

                    position: relative;              

                    &:before {
                        content: "";
                        height: 120px;
                        width: 10px;
                        position: absolute;
                        right: 0px;
                        top: 30px;

                        background-image: linear-gradient(black 50%, rgba(255,255,255,0) 0%);
                        background-position: right;
                        background-size: 4px 8px;
                        background-repeat: repeat-y;

                    }


                    h2 {
                        margin-top: 0px;
                    }

                    &:nth-child(4) {
                        border-right: 0px;
                        margin-right: 0px;
                        padding-right: 0px;
                        &:before {
                            border-right: 0px;
                            width: 0px;
                        }
                    }

                }


            }

        }

    }

    .field-name-field-long-text {
 
        width: 60%;
        display: inline-block;        

        h2 {
            border-bottom: 10px solid $yellow;
        }

        a {
            @include box-before($green);
            color: $black;
        }
    }

    .field-name-field-social-links {
        float: right;
        width: 30%;
        text-align: center;
        margin-top: 9em;
    }



    .view-latest-news-and-blog-posts, .view-upcoming-events {

        h2 {
            border-bottom: 10px solid $orange;
        }

        .view-content {
            text-align: justify;

            &:after {
                content: "";
                width: 100%;
                display: inline-block;
            }

            .views-row {
                width: 22%;
                display: inline-block;
                vertical-align: top;
                text-align: left;
                line-height: 1.15em;

                &.views-row-last {

                    // add fake padding if we only have two or three results
                    // to avoid them pushing to the end

                    &.views-row-2 {
                        margin-right: 52%;
                    }

                    &.views-row-3 {
                        margin-right: 26%;
                    }
                    
                }


                .views-field-title {
                }

                .views-field-field-image {
                    float: left;
                    margin-right: 1em;
                    width: 100px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    padding-bottom: 20px;
                }

                .views-field-field-publication-date {
                    font-size: 0.8em;
                    padding-top: 0.5em; 
                }
            }
        }
    }



    .view-upcoming-events {
        h2 {
            border-bottom: 10px solid $pink;
        }

        .view-content {
            .views-row {


                .views-field-field-date {


                    width: 2em;
                    float: left;
                    margin-right: 2em;
                    text-align: justify;
                    
                    border-bottom: 10px solid $pink;
                    

                    span.date-display-single {

                        

                        i {
                            

                            font-style: normal;

                            &:nth-child(1) {
                                font-size: 2em;
                                font-weight: bold;

                            }

                            &:nth-child(2) {
                                text-transform: uppercase;

                            }

                            &:nth-child(3) {
                                display: none;
                            }

                        }

                    }
                }

                .views-field-title {

                    margin-left: 4em;
                    
                }
                
            }
        }
    }    
    
    #block-views-partners-block-1 {
        h2 {
            border-bottom: 10px solid $green;
        }
    }

    .view-id-partners {

        .view-content {

            text-align: justify;

            &:after {
                content: "";
                width: 100%;
                display: inline-block;
            }

            .views-row {
                width: 80px;
                display: inline-block;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }


    }

}