body.node-type-article, body.node-type-simple-page, body.node-type-news-item {

    h1.title {
        text-align: center;
    }

    div.content {
    
        > article {

            .content {
                text-align: center; 

                .field-name-field-author, .field-name-field-publication-date {
                    display: inline-block;
                    color: $teal;
                    
                    font-size: 1.1em;

                    .field-items {
                        display: inline-block;
                    }
                }

                .field-name-field-author {
                    &:before {
                        content: "By ";
                        display: inline-block;
                        margin-right: 0.5em;
                        color: $dark-grey;
                    }
                }

                .field-name-field-publication-date {
                    &:before {
                        content: " on ";
                        display: inline-block;
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                        color: $dark-grey;
                    }
                    color: $orange;
                }

                .field-name-body {
                    text-align: justify;
                    max-width: 600px;
                    margin: auto;
                    line-height: 1.4em;
                    margin-top: 2em;

                    img {

                        width: 100% !important;
                        height: auto !important;

                        &.breakout {
                            width: 120% !important;                        
                            margin-left: -10%;                        
                        }

                        
                    }
                }

            }


            .field-name-field-related-items {

                &:before {
                    content: "";
                    width: 10em;
                    border-top: 10px solid $pink;
                    display: inline-block;
                    margin-bottom: 3em;
                }

                margin-top: 2em;
                padding-top: 2em;
                

                > .field-items {
                    > .field-item {
                        display: inline-block;
                        margin-right: 2em;
                        margin-left: 2em;
                        width: 40%;
                        vertical-align: top;
                        font-size: 0.9em;
                        max-width: 20em;
                        text-align: left;
                        .field-name-body {
                            text-align: left;
                        }
                    }                    
                }
            }

        }

    }
} 