body.node-type-publication {

    article {

        .field-name-body {
            margin-right: 24em;
        }

        div.group-details {
            text-align: center;

            float: right;
            border-top: 10px solid $light-grey; 
            padding-top: 20px;
            border-bottom: 10px solid $light-grey;
            padding-bottom: 20px;

            width: 18em;

            .field-name-field-cover-image {
                text-align: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .field-name-field-publication-date {
                font-size: 0.8em;
                margin-bottom: 3em;
            }




        }
    }

        .field-name-field-related-items {

            &:before {
                content: "";
                width: 10em;
                border-top: 10px solid $pink;
                display: inline-block;
                margin-bottom: 3em;
            }

            margin-top: 2em;
            padding-top: 2em;
            

            > .field-items {
                > .field-item {
                    display: inline-block;
                    margin-right: 2em;
                    margin-left: 2em;
                    width: 40%;
                    vertical-align: top;
                    font-size: 0.9em;
                    max-width: 20em;
                    text-align: left;
                    .field-name-body {
                        text-align: left;
                        margin: 0px;
                    }
                }                    
            }
        }    

}