$montserrat:    'Montserrat', 'Century Gothic', Verdana, Helvetica, Arial, sans-serif;

$body-text:     $montserrat;

html {

    font-family: $body-text;
    line-height: 1.4em;

    h1,h2,h3,h4,h5 {
        line-height: 1.15em;
    }

}