@mixin link-underline() {

        border-bottom: 10px solid $green;                

        &:hover {

            border-bottom: 10px solid $purple;

        }



}


@mixin box-before-no-hover($color) {
    &:before {
            content: " ";
            height: 0.9em;
            width: 0.9em;
            background-color: $color;
            margin-right: 0.5em;
            display: inline-block;
            margin-bottom: -0.1em;

        }
}

@mixin box-before($color) {

    @include box-before-no-hover($color);
    
    &:hover {
        &:before {
            background-color: $purple;
        }
    }

}

