@media screen and (max-width: 500px) {
    .view-blog, .view-news {

        margin-top: 2em;

        .view-content {

            text-align: inherit;

            &:after {
                content: none;
            }

            .views-row {

                clear: both;
                display: block;
                text-align: left;

                margin-bottom: 2em;

                width: auto;

                overflow: show;
                

                &:first-child {

                    .views-field-title {
                        font-size: 1.3em;
                        
                    }

                    .views-field-field-image {
                        width: 150px;
                    }

                    .views-field-body, .views-field-view-node {
                        margin-left: 170px;
                    }
                                    
                }

                

                .views-field-field-image {
                    float: left;
                    height: 100%;
                    margin-right: 20px;                
                    width: 150px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .views-field-title {
                    font-size: 1.3em;
                    margin-top: 0px;
                    margin-bottom: 0.5em;
                    line-height: 1.15em;
                    
                }

                .views-field-field-author {
                    display: block;
                    margin-right: 0em;
                    color: $teal;
                    margin-left: 170px;
                }

                .views-field-field-publication-date {
                    display:block;
                    color: $orange;
                    margin-left: 170px;
                }

                .views-field-body {
                    font-size: 1em;
                    margin-left: 170px;

                }

                .views-field-view-node {
                    margin-left: 170px;
                }

            }
            

        }


    }
}