@media screen and (max-width: 500px) {
    .view-publications, .view-events {

        .view-content {

            text-align: inherit;

            &:after {

                content: none;

            }

            .views-row {

                width: auto;
                display: block;

                .views-field-field-cover-image, .views-field-field-image {
                    float: left;
                    width: 150px;                    
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .views-field-body {
                    font-size: 1em;
                }

                .views-field-title {
                    line-height: 1.15em; 
                    font-weight: 500;
                }

                .views-field-field-publication-date {
                    font-size: 0.9em;
                }

                


                &.views-row-last {

                    // add fake padding if we only have two or three results
                    // to avoid them pushing to the end

                    &.views-row-2 {
                        margin-right: 0px;
                    }

                    &.views-row-3 {
                        margin-right: 0px;
                    }
                    
                }                

            }
        }
    }


    .view-publications {

            .view-content {

                .views-row {

                    .views-field-field-cover-image, .views-field-field-image {
                        float: left;
                        width: 100px;                    
                        margin-right: 20px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .views-field-body {
                        margin-left: 120px;
                    }

                    .views-field-view-node {
                        margin-left: 120px;
                    }

                }
            }

    }

}



@media screen and (max-width: 1000px) and (min-width: 501px) {
    .view-publications, .view-events {

        .view-content {


            &:after {


            }

            .views-row {

                width: 48%;

            }
        }
    }


    .view-publications {

            .view-content {

                .views-row {

                    .views-field-field-cover-image, .views-field-field-image {
                        float: left;
                        width: 100px;                    
                        margin-right: 20px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .views-field-body {
                        margin-left: 120px;
                    }

                    .views-field-view-node {
                        margin-left: 120px;
                    }

                }
            }

    }

}