@media screen and (max-width: 500px) {

    body.node-type-page {

        .view-partners, .view-team-members {

            .view-content {

                text-align: inherit;

                &:after {

                    content: none;

                }

                .views-row { 

                    width: auto;
                    display: block;

                }

            }


        }


    }

}