@media only screen and (max-width: 500px) { 

    body.node-type-event-complex-, .field-name-field-parent-event {

        .img-bg {
            > .event-overlay {
                padding-top: 2em;
    
                h2.event-title {
                    width: 100%;
                    max-width: 100%;                
                    font-size: 1.3em;
                }
    
                .event-details {
                    flex-direction: column;
                    font-size: 1em;
                    text-align: center;
                    .field-item {
                        margin-top: 1em;
                    }
                }
                .field-name-field-sub-pages {
                    padding-bottom: 1em;
                    .field-items {
                        flex-wrap: wrap;
                        justify-content: stretch;

                        .field-item {
                            flex-grow: 1;

                            a,a:visited {
                                box-sizing: border-box;
                                text-align: center;
                                width: 100%;
                                padding: 0.5em;
                            }
                        }
    
                    }
                }
                
            }     
        }

        .field-name-field-sections-paras {
            
            font-size: 0.9em;

            > .field-items  {
                > .field-item:first-child {
                    padding: 1em 1.5em;
                    margin: 0px -1.6em;
                    
                }
            }
            
            .paragraphs-item-highlights {
                > .content {                    

                    > .field-name-field-title {

                        margin: 0px;
                        padding: 0px;
                        margin-top: 2em;
                        margin-bottom: 1em;


                    }

                    .field-name-field-image {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .field-name-field-link {
                        margin-top: 2em;
                        margin-bottom: 2em;
                        text-align: center;
                    }
                }



                .paragraphs-items-field-highlights {
                    margin-top: 0px;

                    .paragraphs-item-highlight {
                        > .content {
                            padding: 0px;

                            .field-name-field-image {
                                width: auto;
                                position: relative;
                                top: auto;
                                left: auto;
                            }
                        }
                    }
                }
            }
        }

        .field-name-field-sections-paras  {
            .paragraphs-item-speakers { 

                &:after {
                    content: none;
                }

                > .content {
                    .field-name-field-link {
                        a,a:visited {
                            color: black;
                        }
                    }
                }

                .field-name-field-speakers {
                    > .field-items {
                        display: block;

                        color: black;

                        > .field-item {
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }



    body.node-type-event-sub-page { 
    
        .paragraphs-items-field-sections-sub-page {
    
    
            .field-name-field-speakers {
                > .field-items {
                    display: block;
                }
            }
    
            .paragraphs-item-agenda    {
                table {
                    tr {
                        td {
                            display: block;
                        }
                    }
                }
            }
        }
        
    }

}


