@media only screen and (max-width: 500px) {

    body.front {


        h2 {
            font-weight: normal;
            margin-top: 1em;
            display: inline-block;
            margin-bottom: 0.2em;

            border-bottom: 10px solid $teal;
        }

        article.node-home-page {

           

            .field-name-field-strapline {
                width: 100%;
            } 

            > .content > .field-name-body {

                width: 100%;
 
            }

            .field-name-field-main-image {

                display: none;

            }

            .field-name-field-video {
                position: relative;
                margin-top: 1em;
                width: 100%;
                margin-bottom: 1em;
                text-align: center;

                iframe {
                    width: 100%;
                    height: 100%;
                }

            }


            .field-name-field-long-text {
                width: 100%;
                display: block;
            }

            .field-name-field-social-links {
                width: 100%;
                display: block;
                float: none;
                margin-top: 3em; 
            }

            .field-name-field-teasers {
                margin-top: 6em;
                margin-bottom: 3em;

                > .field-items {

                    display: block;

                    > .field-item { 
                        width: 100%;
                        display: block;
                        padding-right: 0px;
                        margin-bottom: 6em;

                        position: relative;


                        &:before {
                            content: "";
                            height: 4px;
                            width: 25%;
                            position: absolute;
                            top: -3em;
                            left: 0px;
                            right: auto;
                            margin-left: 5%;


                            background-image: linear-gradient(90deg, black 50%, rgba(255,255,255,0) 0%);
                            background-position: left;
                            background-size: 8px 8px;
                            background-repeat: repeat-x;

                        }

                        h2 {
                            margin-top: 0px;
                        }

                        &:nth-child(4) {
                            &:before {
                                width: 25%;
                            }
                        }

                    }


                }

            }

        }



        .view-latest-news-and-blog-posts, .view-upcoming-events {

            h2 {
                border-bottom: 10px solid $orange;
            }

            .view-content {
                text-align: justify;

                &:after {
                    content: "";
                    width: 100%;
                    display: inline-block;
                }

                .views-row {
                    width: 100%;
                    display: block;

                    padding-top: 2em;

                    clear: both;

                    &.views-row-last {

                        // add fake padding if we only have two or three results
                        // to avoid them pushing to the end

                        &.views-row-2 {
                            margin-right: 0px;
                        }

                        &.views-row-3 {
                            margin-right: 0px;
                        }
                        
                    }


                    .views-field-title {
                    }

                    .views-field-field-image {

                    }

                    .views-field-field-publication-date {
                    }
                }
            }
        }



        .view-upcoming-events {
            h2 {
            }

            .view-content {
                .views-row {


                    .views-field-field-date {

                        

                        span.date-display-single {

                            

                            i {
                                

                                font-style: normal;

                                &:nth-child(1) {


                                }

                                &:nth-child(2) {

                                }

                                &:nth-child(3) {
                                }

                            }

                        }
                    }

                    .views-field-title {

                        
                    }
                    
                }
            }
        }    
        
        #block-views-partners-block-1 {
            h2 {
            }
        }

        .view-id-partners {

            .view-content {

                text-align: justify;

                &:after {
                    content: "";
                    width: 100%;
                    display: inline-block;
                }

                .views-row {
                    width: 80px;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }


        }

    }


}

@media screen and (max-width: 1000px) and (min-width: 501px) {
    body.front {


        h2 {

        }

        article.node-home-page {

           

            .field-name-field-strapline {
                width: 100%;
            } 

            > .content > .field-name-body {

                width: 100%;
 
            }

            .field-name-field-main-image {

                display: none;

            }


        }

    }

}