@media screen and (max-width: 500px) {

    body.node-type-publication {

        article {

            .field-name-body {
                margin-right: 0px;
            }

            div.group-details {
                text-align: center;

                display: block;
                float: none;
                margin-top: 2em;

                width: 100%;

            }
        }


    }


}