article.node-teaser {

    h2 {
        display: inline-block;
        font-size: 1.2em; 
        margin-bottom: 0px;
        padding-bottom: 4px;

        border-bottom: 10px solid $teal;
    }

    ul.links {
                
        margin: 0px;

        li {
            padding: 0px;
            text-align: left;
            
            a {
                @include box-before($green);
            }
        }
    }


    &:nth-of-type(2) {

        h2 {
            border-bottom: 10px solid $orange;
        }

    }   
 
}


// default behaviour is for teasers displayed as field-items to vary colour

.field-item {

    &:nth-of-type(2) {

        article.node-teaser {

            h2 {

                border-bottom: 10px solid $yellow;

            }

            ul.links li a {

                @include box-before($yellow);

            }

        }

    }

    &:nth-of-type(3) {

        article.node-teaser {

            h2 {

                border-bottom: 10px solid $pink;

            }

            ul.links li a {

                @include box-before($pink);

            }
            
        }

    }


    &:nth-of-type(4) {

        article.node-teaser {

            h2 {

                border-bottom: 10px solid $orange;

            }

            ul.links li a {

                @include box-before($orange);

            }
            
        }

    }

}