.view-blog, .view-news {

    margin-top: 2em;

    .view-content {

        text-align: justify;

        &:after {
            content: "";
            width: 100%;
            display: inline-block;
        }

        .views-row {

            clear: both;
            display: inline-block;
            text-align: left;

            margin-bottom: 2em;

            width: 45%;
            vertical-align: top;

            overflow: hidden;
            

            &:first-child {
                width: 100%;

                margin-bottom: 4em;

                .views-field-title {
                    font-size: 2em;
                    
                }

                .views-field-field-image {
                    width: 220px;
                }

                .views-field-body, .views-field-view-node {
                    margin-left: 240px;
                }
                                
            }

            

            .views-field-field-image {
                float: left;
                height: 100%;
                margin-right: 20px;                
                width: 180px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .views-field-title {
                font-size: 1.5em;
                margin-top: 0px;
                margin-bottom: 0.5em;
                line-height: 1.15em;
                
            }

            .views-field-field-author {
                display: inline-block;
                margin-right: 1em;
                color: $teal;
                width: 50%;
            }

            .views-field-field-publication-date {
                display:inline-block;
                color: $orange;
            }

            .views-field-body {
                font-size: 0.9em;
                margin-left: 200px;
                line-height: 1.15em;
            }

            .views-field-view-node {
                @include box-before($green);
                margin-left: 200px;
            }

        }
        

    }


} 