.view-publications, .view-events {

        .view-content {

            text-align: justify;

            &:after {

                content: "";
                width: 100%;
                display: inline-block;

            }

            .views-row {

                width: 30%;
                display: inline-block;
                vertical-align: top;
                text-align: left;

                margin-bottom: 4em;

                .views-field-field-cover-image, .views-field-field-image {
                    float: left;
                    width: 150px;                    
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .views-field-body {
                    font-size: 0.8em;
                    line-height: 1.15em;
                }

                .views-field-title {
                    line-height: 1.15em;
                    font-weight: 500;
                }

                .views-field-field-publication-date {
                    margin-top: 0.2em;
                    font-size: 0.8em;
                }

                
                .views-field-view-node {
                    @include box-before($green);

                }


                &.views-row-last {

                    // add fake padding if we only have two or three results
                    // to avoid them pushing to the end

                    &.views-row-2 {
                        margin-right: 35%;
                    }

                    &.views-row-3 {
                        margin-right: 18%;
                    }
                    
                }                

            }
        }
}


.view-publications {

        .view-content {

            .views-row {

                .views-field-field-cover-image, .views-field-field-image {
                    float: left;
                    width: 150px;                    
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .views-field-body {
                    margin-left: 170px;
                }

                .views-field-view-node {
                    margin-left: 170px;
                }

            }
        }

}