body.node-type-page {

    .view-partners, .view-team-members, .view-advisory-board-members {

        .view-content {

            text-align: justify;

            &:after {

                content: "";
                width: 100%;
                display: inline-block;

            }

            .views-row {

                clear: both;

                min-height: 170px;

                border-bottom: 2px dotted #ddd;
                padding-bottom: 2em;


                width: 100%;
                display: block;
                vertical-align: top;
                text-align: left;
 
                font-size: 0.9em;
                line-height: 1.15em;

                .views-field-body {
                    font-size: 0.9em;
                    line-height: 1.15em; 
                }

                .views-field-title {
                    font-weight: bold;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                }

                margin-top: 2em;
                margin-bottom: 2em;

                .views-field-field-email, .views-field-field-twitter {
                    font-size: 0.8em;
                }
                
                .views-field-field-image {
                    width: 170px;
                    float: left;
                    margin-right: 20px;

                    img {
                        width: 100%;
                    }
                }

                .views-field-field-logo {
                    text-align: center;
                    width: 170px;
                    float: left;
                    margin-right: 20px;
                    
                }

            }

        }


    }


}