// styles also defined in partners.scss

body.node-type-page {

    .view-team-members {

        .view-content {


            .views-row {

                .views-field-body {
                }

            }

        }


    }


}