body, html {

    margin: 0px;
    padding: 0px;

    overflow-x: hidden;

}

body {
    background-color: white;
}

canvas {
    position: absolute;                
    z-index: -1;
    overflow: hidden;
}

div#page {
    min-height: 600px;
}

#page-wrapper {

    max-width: 1200px;
    margin:auto;
    
 
}



@media screen and (max-width: 1200px) and (min-width: 1001px) {

    #page-wrapper {
        max-width: 1000px;
    }

}