@media screen and (max-width: 500px) {

    body, html {

        width: 100%;


        margin: 0px;
        padding: 0px;

        overflow-x: hidden;

    }

    canvas {

        display: none;

    }

    #page-wrapper {

        width: auto;
        margin-left: 1.5em;
        margin-right: 1.5em;
    
    }



}


@media screen and (max-width: 1000px) and (min-width: 501px) {



    #page-wrapper {

        width: auto;
        margin-left: 1.5em;
        margin-right: 1.5em;
    
    }
    

}