@media only screen and (max-width: 890px) {

    body {
        button.hamburger {
            display: block;
            position: absolute;
            top: 45px;
            right: 20px;
            z-index: 1000;
        }

        &.admin-menu {
            button.hamburger {
                top: 80px;
            }
        }

        nav#navigation {
            display: none;
            position: static;

            &.show {
                display: block;
                position: absolute;
                top: 100px;
                left: 0px;
                width: 100%;
                background-color: rgba(0,0,0,0.9);
                color: white;

                a,a:visited {
                    color: white;
                }


                .meganav {

                    height: 100%;

                    ul.menu {

                        margin-left: 2em;
                        padding-left: 0px;
                        font-size: 1.3em;

                        > li {

                            display: block;

                            border: 0px;
                            
                            margin: 0px;
                            padding: 0px;
                            padding-bottom: 2em;
                            font-weight: bold;

                            &:hover {

                            }

                            > ul.menu {

                                font-size: 1em;

                                display: block;
                                background-color: transparent;
                                padding: 0px;
                                margin: 0px;

                                padding-top: 1em;

                                > a > li {

                                    font-size: 1em;
                                    margin: 0px;
                                    padding: 0px;
                                    padding-bottom: 0.2em;
                                    

                                    h5.title {
                                        padding: 0px;
                                        margin: 0px;
                                        font-size: 1em;
                                        font-weight: normal;
                                    }

                                    p {
                                        display: none;
                                    }

                                }

                            }
                            
                            
                        }
                        
                    }
                }


            }
        } 
    }
}

@media screen and (max-width: 350px) {

    body {

        button.hamburger {
            display: block;
            position: absolute;
            top: 35px;
            right: 10px;
            z-index: 1000;
        }

        header {
            #logo img {
                width: 170px;
            }
        }

    }

}