@media screen and (max-width: 500px) {

    #flag-box {

        font-size: 0.9em;
        //opacity: 0.7;
        color: $dark-grey;
        position: static;

        p {

            position: static;
            top: auto;
            right: auto;

            &:before {

                content: "Change language: ";


             }

            img {
                width: 25px;
                height: auto;
                padding-left: 10px;                

                a:first-of-type & {
                    padding-left: 0px;
                }

            }

        }

    }  

}