@media screen and (max-width: 500px) {


    .field-name-field-sections {
        

        .field-name-field-section-body, .field-name-field-view-advanced- {
            width: auto;
            display: block;
            margin-right: 0px;
        }   

        .group-sidebar {
            width: auto;
            display: block;

        } 
 
 
    }

}

