/* DRUPAL SPECIFIC OVERRIDES */

.field-collection-view {
    padding: 0px;
    margin: 0px;
    border-bottom: 0px;
}

.field-collection-container {
    border-bottom: 0px;
    
}

button.hamburger:focus {
    outline: 0;
}