.marmelo-slide-loaded {


    .previous, .next {
        position: absolute;
        left: 0px;
        top: 50%;
        background-color: $yellow;
        width: 30px;
        height: 30px;        
        z-index: 20;
        margin-left: -20px;
        transform: translateY(-50%);
        cursor: pointer;

        &:after {
            content: "<";
            position: absolute;
            font-size: 30px;
            top: 5px;
            left: 0px;
            font-weight: bold;
            width: 30px;
            text-align: center;
            transition: transform .4s ease-in-out;
        }

        &:hover {
            &:after {
                transform: translateX(-10%);
            }
        }

    }

    .next {
        left: auto;
        right: 0px;
        margin-right: -20px;

        &:after {
            content: ">";
        }

        &:hover {
            &:after {
                transform: translateX(10%);
            }
        }
        
    }

    .marmelo-slide-container {

 
        .marmelo-slide-item {

            display: none;
            &.show, &:first-child {
                display: block;

                &.past {
                    display: none;
                }
            }
 
        }

    }

}