a, a:visited {
    text-decoration: none;
    color:$teal;

    /* turn off link highlighting in certain scenarios */
    h1 &, h2 &, h3 & {
        color: black;
    }

    li.node-readmore &, body.front .field-name-field-link &, .views-field-view-node & {
        color: black;
    }

    .views-field-title & {
        color: black;
    }

    .meganav & {
        color: black;
    }
}



h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: normal;
    //border-bottom: 10px solid $orange; 
}