.field-name-field-download {

    .file {
        display: inline-block;        
        background-color: $teal;




        .file-icon {
            display: none;              
        }


        a,a:visited { 
            color: white;
            background-color: $teal;
            background-image: url('../img/download.png');  
            background-size: 30px;  
            background-repeat: no-repeat;   
            background-position: 10px;
            padding: 1em;
            padding-left: 4em;
            overflow: visible;
            display: inline-block;

            &:hover {
                background-color: $green;
            }
        }

    }

} 