#footer {

    width: 100%;
    background-color: $dark_grey;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    position: relative;

    &:before {

        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        left: -100%;
        top: 0px;
        background-color: $dark_grey;
        display: block;

    }

    &:after {

        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        right: -100%;
        top: 0px;
        background-color: $dark_grey;
        display: block;

    } 

    ul.menu {

        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 0.9em;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 3em;

            &:last-child {
                margin-right: 0px;
            }
            
            a, a:visited {
                color: white;
            }
        }        


    }

}