body {

    button.hamburger {
        display: none;
    }

    header {

        position: relative;

        padding-top: 20px; 

        #logo img {
            width: 220px;
        }

        padding-bottom: 2em;


        #navigation {

            float: right;
            text-align: right;
            z-index: 100;
            margin-top: 50px;

            .meganav {          

                @media screen and (min-width: 801px) {                      

                &:hover {

                    + .overlay {
                        display: block;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        margin-top: 100px;
                        background-color: rgba(0,0,0,0.6);
                        top: 50px;
                        left: 0px;
                        z-index: 90;
                        background-blend-mode: multiply;
                    }

                }

                }

                > ul.menu {


                    position: relative;

                    > li {

                        display: inline-block;
                        margin-left: 3em;

                        

                        > ul.menu {

                            display: none;

                        }

                        border-top: 10px solid white;

                        @media screen and (min-width: 801px) {

                        &:hover {

                            border-top: 10px solid $purple; 

                            &.menu-item-1 {
                                ul.menu.children_4, ul.menu.children_5 {
                                    background-image: url('../img/menu-about.png');
                                }
                            }

                            &.menu-item-2 { 
                                ul.menu.children_4, ul.menu.children_5 {
                                    background-image: url('../img/menu-involved.png');
                                }
                            }


                            ul.menu {
 
                                &.children_4, &.children_5 {
                                    
                                    // display a pretty icon
                                    background-image: url('../img/menu-icon.png');
                                    background-position: 90% 90%;
                                    background-repeat: no-repeat;
                                    background-size: 120px;

                                }


                                

                                overflow: visible;

                                padding: 2em;
                                display: block;
                                position: absolute;
                                top: 1.8em;
                                right: 0px;
                                width: 100%;

                                z-index: 100;

                                background-color: white;
                                border-bottom: 10px solid $purple;

                                text-align: justify;

                                &:after {
                                    content: "";
                                    width: 100%;
                                    display: inline-block;
                                }


                                > a  {

                                   &:nth-of-type(1) {



                                    }

                                    &:nth-of-type(2) {
                                        h5.title {
                                            border-bottom: 10px solid $yellow;
                                        }                                        
                                    }

                                    &:nth-of-type(3) {

                                        &:after {
                                            content: none;
                                        }

                                        h5.title {
                                            border-bottom: 10px solid $green;
                                        }                                        
                                    }

                                    &:nth-of-type(4) {
                                        h5.title {
                                            border-bottom: 10px solid $orange;
                                        }               

                                        &:after {

                                        }                         
                                    }

                                    &:nth-child(3n+0) > li {
                                        margin-right: 0px;
                                    }                                    


                                    > li {

                                        text-align: left;
                                        width: 28%;
                                        display: inline-block;
                                        vertical-align: top;
                                        margin-right: 1em;
                                        position: relative;
                                        font-size: 0.9em;    

                                        p {

                                        }

                                        min-height: 8em;    

                                        &:after {
                                            content: none;
                                            position: absolute;
                                            bottom: 0px;
                                            right: 0px;
                                            height: 40px;
                                            margin-right: -12px;
                                            width: 3px;
                                            background-image: linear-gradient(black 50%, rgba(255,255,255,0) 0%);
                                            background-position: right;
                                            background-size: 2px 4px;
                                            background-repeat: repeat-y;
                                        }                                                                

                                        h5.title {

                                            font-weight: normal;
                                            font-size: 1em;

                                            display: inline-block;
                                            margin: 0px;
                                            border-bottom: 10px solid $teal;
                                            padding-bottom: 2px;
                                            margin-bottom: 1em;
    
                                        }

    


                                        h5.title {
                                        &:hover {
                                                border-bottom: 10px solid $purple;
                                            }                                        
                                        }

                                        &:hover {
                                            h5.title {
                                                border-bottom: 10px solid $purple;
                                            }
                                        }

                                        p {
                                            font-size: 0.8em;
                                            margin: 0px;
                                            padding:0px;
                                            line-height: 1.15em;
                                        }



                                    }
                                }

                            }
                            
                        }
                        }

                    }
                }                

                
            }
            
            


        }
        

    }


}