#flag-box {

    position: relative;

    p {

        position: absolute;
        top: -100px;
        right: 0px;        

        img {
            width: 40px;
            height: auto;
            padding-left: 10px;

            a:first-of-type & {
                padding-left: 0px;
            }

        }

    }

}  