#mailing-list-block {

    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;

    h3 {

        display: inline-block;
        font-size: 1.4em;
        font-weight: normal;
        width: 8em;
        text-align: left;
        vertical-align: bottom;
        margin: 0px;
        padding: 0px;
        margin-left: 1em;
    }

    #mc_embed_signup_scroll, #mc_embed_signup, form, div.clear, p {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    } 

    input {
        display: inline-block;
        border: 0px; 
        border-bottom: 10px solid $light_grey;
        color: $light_grey;
        font-size: 1.4em;
        vertical-align: bottom;
        margin-left: 1em;
    }

    input.button {
        background-color: white;
        padding: 10px;
        font-size: 0.9em;
        color: $light_grey;
        
        border: 1px solid $light_grey;


        &:hover {
            background-color: $purple;
            cursor: pointer;
            color: white;
            border: 1px solid white;
        }
    }

    input.email {
        margin-left: 0px;
    }

    p img {
        margin-left: 1em;

        &.divider {
            margin-left: 5em;
            margin-right: 4em;
        }
    }

} 

@media only screen and (max-width: 800px) {

    #mailing-list-block { 

        #mc_embed_signup_scroll, #mc_embed_signup, form, div.clear, p, input, h3 {
            display: block;
            margin: 0px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;        
            width: auto;
        }

        img.divider {
            display: none;
        }

    }

}