.field-name-field-sections {
    

    .field-name-field-section-body, .field-name-field-view-advanced- {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        margin-right: 5%;

        a.more {
            @include box-before($yellow);
            color: $black;
        }
    }   

    .group-sidebar {
        width: 25%;
        display: inline-block;

        .field-name-field-side-image {
            img {
                width: 100%;
                height: auto;
            }
        }

    } 

    > .field-items > .field-item {

        h2 {

            display: inline-block;
            border-bottom: 10px solid $teal;
            margin-bottom: 1em;
            &:after {
                content: "";
                width: 100%;
                display: block;
                clear: both;
                height: 1px;
            }

        } 

        &:nth-child(2) {
            h2 {
                border-bottom: 10px solid $yellow;
            }
        }                

        &:nth-child(3) {
            h2 {
                border-bottom: 10px solid $green;
            }
        }

        &:nth-child(4) {
            h2 {
                border-bottom: 10px sold $orange;
            }
        }

        .field-collection-item-field-sections {

            margin-top: 1em;

        


        }
        
    }

}

body.node-type-resources-page {
    .resources-main {
        display: flex;
        justify-content: space-between;

        > div {
            &.resources-navigation {
                flex-basis: 25%;
                flex-grow: 0;
                flex-shrink: 0;

                h3 {
                    margin-top: 0px;
                }
            }

            &.resources-content {
                flex-grow: 1;
            }
        }

    }
}