.resources-main {

    margin-top: 2em;

    position: relative;

    .resources-navigation {

        position: sticky;
        top: 2em;

        width: 90%;

        h3 {
            padding-bottom: 0.7em;
            border-bottom: 1px dotted black;
            max-width: 12em;            
        }

        ul {

            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                padding: 0px;
                padding-top: 0.2em;

                a,a:visited {
                    color: black;
                    &:hover {
                        text-decoration: underline;
                    }

                    &.active {
                        font-weight: bold;
                        
                    }
                }
            }
        }
    }

    .resources-content {
        .field-name-field-resource-sections {

            > .field-items {
                > .field-item {

                    &:nth-child(5n+0) {
                        h2 {
                            border-bottom: 10px solid $purple;
                        }
                        .fileicon-container {
                            &:before {
                                background-color: $purple;
                            }

                        }
                        .download-link, .field-name-field-link {
                            a,a:visited {
                                &:after {
                                    background-color: $purple;
                                }
                            }
                        }

                    }

                    &:nth-child(5n+1) {
                        h2 {
                            border-bottom: 10px solid $yellow;
                        }
                        .fileicon-container {
                            &:before {
                                background-color: $yellow;
                            }

                        }
                        .download-link, .field-name-field-link {
                            a,a:visited {
                                &:after {
                                    background-color: $yellow;
                                }
                            }
                        }

    
                    }
                    &:nth-child(5n+2) {
                        h2 {
                            border-bottom: 10px solid $teal;
                        }
                        .fileicon-container {
                            &:before {
                                background-color: $teal;
                            }

                        }
                        .download-link, .field-name-field-link {
                            a,a:visited {
                                &:after {
                                    background-color: $teal;
                                }
                            }
                        }

    
                    }
                    &:nth-child(5n+3) {
                        h2 {
                            border-bottom: 10px solid $green;
                        }
                        .fileicon-container {
                            &:before {
                                background-color: $green;
                            }
                        }
                        .download-link, .field-name-field-link {
                            a,a:visited {
                                &:after {
                                    background-color: $green;
                                }
                            }
                        }
    
                    }
                    &:nth-child(5n+4) {
                        h2 {
                            border-bottom: 10px solid $orange;
                        }
                        .fileicon-container {
                            &:before {
                                background-color: $orange;
                            }
                        }

                        .download-link, .field-name-field-link {
                            a,a:visited {
                                &:after {
                                    background-color: $orange;
                                }
                            }
                        }
    
                    }

                    .fileicon-container {
                        
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 0px;
                            right: -10px;
                            margin-top: -10px;
                            width: 80px;
                            height: 80px;
                            content: "";
                            background-color: $green;
                            z-index: 1;
                        }

                        margin-bottom: 1rem;

                        i {
                            position: relative;
                            z-index: 2;
                        }

                        overflow: visible;

                        font-size: 90px;

                        height: 100%;
                        width: 100px;                        
                    }

                    .download-link, .field-name-field-link {

                        margin-top: 1em;
                        overflow: visible;

                        a,a:visited {
                            color: black;
                            font-weight: bold;

                            &:hover {
                                color: $teal;
                                &:before {
                                    color: black;
                                }
                            }

                            &:before {
                                font-family: "Font Awesome 5 Free"; 
                                font-weight: 900; 
                                content: "\f358";
                                display: inline-block;
                                margin-right: 1em;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                z-index: 2;

                            }
                            
                            position: relative;

                            padding-left: 2em;
                            overflow: visible;
                            
                            &:after {
                                position: absolute;
                                top: 0px;
                                left: 0.2em;
                                z-index: 1;
                                background-color: $orange;
                                height: 1em;
                                width: 1em;
                                margin-top: -0.2em;
                                content: "";
                            }
    
                        }

                    }


                    .field-name-field-link {
                        a,a:visited {
                            &:before {
                                content: "\f2f5";
                            }
                        }
                    }

                    p.date {
                        margin-top: 0px;
                        font-weight: bold;
                    }

                    .view-resources {
                        padding-bottom: 3em;
                        margin-bottom: 3em;
                        border-bottom: 3px dashed black;     

                        .view-content {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            > .views-row {
                                flex-basis: 30%;
                                flex-grow: 0;

                                margin-bottom: 1em;
                                margin-top: 1em;

                                &:nth-child(2n) {
                                    &:last-child {
                                        margin-right: 35%;
                                    }
                                }

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            
            h2 {
                margin-top: 0px;
                padding-top: 0px;
                display: inline-block;
                border-bottom: 10px solid $green;
            }

            article {
                h2 {
                    border-bottom: 0px !important;
                }
            }
        }
    }
}  