article.node-project-timeline {

    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .field-name-field-timeline-image {
        img {
            width: 100%;
            height: auto;
        }
    }

    .field-name-field-year, .field-name-field-timeline-point {
        position: absolute;
        top: 30px;

        .field-name-field-position {
            display: none;
        }
    }



    .field-name-field-year {
        top: 80px;
    }

    .field-name-field-timeline-point {
        .field-name-field-text {
            @include box-before($green);
        }

        &:nth-of-type(2n) {            
                top: 160px;                        
        }        
        
    }

}